:root {
    --osint-brand-orange: rgb(242, 144, 65);
    --osint-brand-blue-light: rgba(40,37,96, .1);
    --osint-brand-blue-dark: rgba(40, 37, 96, 1);
}

/** universal styles START */
* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover,
a:active {
    transition: color .2s ease-in;
    color: var(--osint-brand-orange);
}


button {
    border: 1px solid #fff;
    border-radius: 16px;
    padding: .5rem;
    color: #fff;
    background-color: var(--osint-brand-orange);
    transform: scale(1);
}

button:hover {
    background-color: var(--osint-brand-blue-dark);
    transition: all .2s ease-in;
    transform: scale(1.1);
/*    transition: scale .5s ease-in;*/
}
/** universal styles END */

/** layout.php start */

header h1,
header h2 {
    text-align: center;
    margin: 0;
    padding: 1.5rem;
}

header {
    border-bottom: solid 1px #ccc;
    background-color: var(--osint-brand-blue-dark);
    color: #fff;

    a {
        color: #fff;
    }
}

.layout {
    .subheader,
    .content {
        display: flex;
        width: 100%;
        margin: 0;
    }

    .subheader {
        justify-content: center;

        button {
            padding: .5rem;
            margin: 1rem;
        }
    }

    .content {
        justify-content: center;
        flex-wrap: wrap;
    }

    .top {
        display: flex;
        width: 90%;
        justify-content: space-evenly;

        .left,
        .right {
            max-width: 50%;

            & > * {
                width: 100%;
            }

            &.empty {
                display: none;
            }
        }
    }

    .bottom {
        display: flex;
        width: 80%;
        justify-content: center;
        margin-bottom: 2rem;
        border-bottom: 1px solid;
        flex-wrap: wrap;
    }
}

/** layout.php END */

/** _articles_table.php START */
.total-articles {
    width: 100%;
    text-align: center;
    font-size: 24px;
    padding: 1rem;
    font-weight: bold;
}

table.articles {
    display: block;
    height: 600px;
    width: 100%;
    border-collapse: collapse;
    overflow-y: scroll;
    padding: 0;
    margin: 0;

    th {
        position: sticky;
        top: 0;
        background-color: var(--osint-brand-blue-dark);
        color: #fff;
        z-index: 100;
        font-size: 1.2rem;
        border-color: #000;
    }

    tbody {
        height: 500px;
    }

    th, td {
        padding: .5rem;
    }

    th:not(th:last-child), td:not(td:last-child) {
        width: 30%;
    }

    table, th, td {
        border: 1px solid;
    }

    th {
        border-top: none;
    }

    td {
        background-color: var(--osint-brand-blue-light);
    }

    td:last-child {
        text-align: center;
    }
}

/** _articles_table.php END **/
/** _keyword_insights.php START **/

.canvasWrapper {
    width: 100%;
    height: 400px;

    & > * {
        width: 100%;
        height: 100%;
    }
}

/** _keyword_insights.php END **/